alias grep='grep --color=auto'

# Git
alias ga='git add --all'
gc() {
    staged=$(git diff --staged --name-only);
    if [[ -z $staged ]]; then
        git add --all . && git commit -n -m "$@"
    else
        git commit -n -m "$@"
    fi
}
alias gmr='git merge'
alias grs='git reset'
alias gco='git checkout'
alias gd='git diff'
alias gds='git diff --staged'
alias gdpr='git diff `git merge-base ${1:-origin/develop} HEAD`..HEAD'
alias gf='git fetch --prune'
alias gl='git lol'
alias g9='git lol -9'
alias gp='git pull'
alias gpu='git push'
alias gs='git status'
