snippet ir
import React from 'react';
endsnippet

snippet i
import $1 from '$2';
endsnippet

snippet e
export 
endsnippet

snippet c
class $1 extends $2{
    $3
}
endsnippet

snippet todo
// TODO: ${1:desc} (`echo $(git config user.email)`, `date +%d.%m.%y`)
endsnippet

snippet console
// tslint:disable:next no-console
console.log($1);
endsnippet
